<body>

  <mat-card>
    <div class="center">
      <h1>Wave</h1>
      <p>Sign In</p>
    
      <mat-form-field appearance="legacy" style="color:white;">
        <mat-label style="color:white;">Enter your username or email</mat-label>
        <input matInput [formControl]="email" required>
      </mat-form-field>
      <br>
      <mat-form-field appearance="legacy" style="color:white;">
        <mat-label style="color:white;">Enter your password</mat-label>
        <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'" required>
        <button mat-flat-button matSuffix style="background-color:transparent; border-color:transparent;"  (click)="hide = !hide">
          <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <button mat-flat-button matSuffix color="#6fd8b8" style="float:right;" (click)="signIn()">Sign In</button>
      <br>
    
      <div class="create-account">
        <p>Don't have an account?</p>
        <br>
        <button mat-flat-button matSuffix color="#6fd8b8" routerLink="/create-account">Sign Up</button>
      </div>

      <div class="create-account">
        <button mat-flat-button matSuffix color="#6fd8b8" (click)="pass_show()">Forgot Password?</button>
      </div>

      <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Forget Password? Enter Username</h4>
            </div>
            <div class="modal-body">
                <input id="user_forget" [(ngModel)]="user_forget" placeholder="username"/>
                <button data-dismiss="modal" (click)="forgetPass()">Submit</button>
                <br>
                <button type="button" data-dismiss="modal" (click) = "pass_hide()">Close</button>
            </div>
          </div>
        </div>
      </div>
      

      
      
    </div>
  </mat-card>
  </body>

