<body>

<mat-card>
  <h1>Wave</h1>
  <p>Sign In</p>

  <mat-form-field appearance="legacy" style="color:white;">
    <mat-label style="color:white;">Enter your email</mat-label>
    <input matInput [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="legacy" style="color:white;">
    <mat-label style="color:white;">Enter your password</mat-label>
    <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'" required>
    <button mat-flat-button matSuffix style="background-color:transparent; border-color:transparent;"  (click)="hide = !hide">
      <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <br>
  <button mat-flat-button matSuffix color="#6fd8b8" style="float:right;">Sign In</button>
  <br>

  <div class="create-account">
    <p>Don't have an account?</p>
    <br>
    <button mat-flat-button matSuffix color="#6fd8b8" routerLink="/create-account">Sign Up</button>
  </div>
</mat-card>
</body>
