<h2>User Info</h2>
<div>
   <p> Username: {{users?.uname}} </p>
   <p> Email: {{users?.email}} </p>
   <p> Password: {{users?.pswd}} </p>
   <p> New Password: </p>
   <!-- <input id="editName" [(ngModel)]="editName" placeholder="name"/> -->

   <mat-form-field appearance="legacy" style="color:white;">
    <mat-label style="color:white;">Password</mat-label>
    <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'" required>
    <button mat-icon-button matSuffix (click)="hide=!hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
   <mat-error *ngIf="password.invalid">invalid password</mat-error>
  </mat-form-field>

   <br>
    <div>
        <button (click)="save()">Save</button>
        <button (click)="cancel()">Cancel</button>
    </div>
</div>
