:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    background-color:#6fd8b8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .button-top {
    color: white;
    border:transparent;
    background:transparent;
    font-family: 'Philosopher';
    text-align: center !important;
    justify-content: center !important;
  }
  mat-card {
    color: white;
    width: 85%;
    height: 80%;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color:#25473c;
    font-family: 'Philosopher';

  }
  h1 {
    margin-top: 2rem;
    padding: 1rem;
    color:white;
    font-size: 6rem;
    font-family: 'Philosopher';
    margin-bottom: 0rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  p{
    text-align: center;
    color:white;
    margin-left:3rem;
    font-size: 2rem;
  }
  button {
    padding: 2rem;
    text-align: center;
    color:#000000;
    margin-right: 8rem;
    font-size:2rem;
    border:transparent;
    background:transparent;
  }