<div class="justify-inline">
    <h1>Wave</h1>
    <button style="padding: 0.5em;
    color: white;
    font-size:40px;
    border:transparent;
    background:transparent;
    font-family: 'Philosopher';" (click)="back()" mat-flat-button>Back</button>
    <br> <button style="padding: 0.5em;
    color: white;
    font-size:40px;
    border:transparent;
    background:transparent;
    font-family: 'Philosopher';" routerLink="/logout" mat-flat-button>Logout</button>
</div>
<br>
<mat-card>
    <mat-card-title style="font-size: 60px; text-align: center;">
        <h1>Success!</h1>
    </mat-card-title>
    <br>
    <mat-card-content>
        <p>Room "{{roomname}}" created by host "{{host}}"</p>
        <p>You can access the room using the room ID: {{roomID}} in the homepage</p>

    </mat-card-content>
</mat-card>
<!-- <p>roomID: {{roomID}}</p>
<p>host: {{host}}</p>
<p>roomName: {{roomname}}</p>
<button (click)="back()">Back</button> -->
<!-- <p>user: {{user}}</p> -->

<!-- private route: ActivatedRoute,private router: Router) { }
host:string = ''
queue= NONE_TYPE
user:string = ''
roomname= NONE_TYPE
allowExplicit:boolean = true
genresAllowed = NONE_TYPE
songThreshold = NONE_TYPE
roomID:number | undefined -->