<div class="justify-inline">

    <h1 routerLink='/homepage'>Wave</h1><br>
    <br>
    <button style="padding: 0.5em;
    color: white;
    font-size:70px;
    border:transparent;
    background:transparent;
    font-family: 'Philosopher';" routerLink="/logout" mat-flat-button>Logout</button>
    </div>
    <mat-card>
        <mat-form-field appearance="legacy" style="color:white;">
            <mat-label style="color:white;">New Display Name</mat-label>
            <input matInput [formControl]="displayName">
            <button mat-flat-button matSuffix (click)="changeDisplayName()">Change Name</button>
        </mat-form-field>
        <br>
        <button mat-flat-button class="nav-item nav-link-edit" [routerLink]="['/password-change']">Change Password</button>
        <a href="/auth/spotify" *ngIf="!isSpotifyConnected">Connect Spotify</a>
        <a href="/auth/spotify/disconnect" *ngIf="isSpotifyConnected">Disconnect Spotify</a>
        <button mat-flat-button (click)="deleteAccount()">Delete Account</button>
    </mat-card>