:host {
    font-family: 'Philosopher';
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    background-color:#6fd8b8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  mat-card-content{
    display: flex;
  }

  .justify-inline {
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 1rem;
  }

  .buttonTop {
    color: white;
    border:transparent;
    background:transparent;
    font-family: 'Philosopher';
  }

  h1 {
    margin-top: .5rem;
    padding: 1rem;
    color:white;
    font-size:6rem;
    font-family: 'Philosopher';
    margin-bottom: 0rem;
    padding-bottom: 2rem;
  }

  h2 {
    margin-top: .5rem;
    padding: 1rem;
    color:white;
    font-size:4.5rem;
    font-family: 'Philosopher';
    margin-bottom: 0rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  h3 {
    margin-top: .5rem;
    padding: 1rem;
    color:white;
    font-size:3rem;
    font-family: 'Philosopher';
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    text-align: center;
  }
  
  mat-card {
    width: 1vw;
    height: 1vh;
    padding: 0.5rem;
    display: block;
    margin-top: 0vh;
    margin: auto;
  }
  
  .styling {
    width: 48rem;
    height: 52rem;
    min-height: 0.8vmax;
    color: white;
    border-radius: 2rem;
    position: absolute;
    background-color:#25473c;
    font-family: 'Philosopher';
  }

  .buttonCard{
    padding: 0.5rem;
    text-align: center;
    text-justify: distribute;
    color: hsl(162, 57%, 64%);
    font-size: 3rem;
    border: transparent;
    background: transparent;
    font-family: 'Philosopher';
  }
  .rowDisplay {
    display: flex;
    justify-content: space-between;
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  p{
    text-align:left;
    color:white;
    margin:3rem;
    font-size: 3rem;
    font-family: 'Philosopher';
  }
  mat-form-field {
    text-align:left;
    color:white;
    width: 70vw;
    margin-left:10%;
    font-size: 20px;
  }
  .button {
    background-color: black;
	  color: white;
	  width: 150px;
	  height: 40px;
  }
  .clearbutton {
    background-color: lightblue;
	  color: white;
	  width: 100px;
	  height: 20px;
  }
  .create-account {
      font-size: 18px;
      display: flex;
      width:65em;
      justify-content: center;
  }

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

