<button (click)="leaveroom()" type="button clearbutton">Leave Room</button>

<h2>roomID: {{roomID}}</h2>
<h2>host: {{host}}</h2>
<h2>roomName: {{roomname}}</h2>
<!-- <div class = "row" *ngFor="let u of userList">  
    <p>users: {{u}}</p>
</div> -->
<h2>users: {{roomusers}}</h2>
<h2># of users: {{len}}</h2>

<h2> QUEUE </h2>
<div class = "row" *ngFor="let q of queue">  
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>{{q.name}}</mat-card-title>
          <mat-card-subtitle>{{q.artists}}</mat-card-subtitle>
          <mat-card-subtitle>Explicit: {{q.explicit}}</mat-card-subtitle>
          <mat-card-subtitle>Genre: {{q.genre}}</mat-card-subtitle>
          <mat-card-subtitle><mat-icon (click)="likesong(q.id)">thumb_up</mat-icon></mat-card-subtitle>
          <mat-card-subtitle><mat-icon (click)="dislikedsong(q.id)">thumb_down</mat-icon></mat-card-subtitle>
        </mat-card-title-group>
    </mat-card>     
</div>

<br> 
<br> 
<br> 
<div>
    <input id="searchSong" [(ngModel)]="searchQuery" (keyup.enter)="searchTrack()"  placeholder="Search Song"/>  <button (click)="clear()" type="button clearbutton">clear</button>
</div>

<!-- <pre>{{songs | json}}</pre>  -->



<div class = "row" *ngFor="let song of songArr">  
    <br> 
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>{{song.songName}}</mat-card-title>
          <mat-card-subtitle>{{song.artistName}}</mat-card-subtitle>
          <mat-card-subtitle>Explicit: {{song.explicit}}</mat-card-subtitle>
          <mat-card-subtitle>Genre: {{song.genre}}</mat-card-subtitle>
          <mat-card-title>
            <mat-card-actions>
                <button mat-button (click)="select(song.id)" type="button button">Choose Song</button>
            </mat-card-actions>
          </mat-card-title>
          <img mat-card-lg-image src={{song.imgSrc}}>
        </mat-card-title-group>
    </mat-card>     
</div>






<!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Google_Images_2015_logo.svg/1200px-Google_Images_2015_logo.svg.png" class="img-fluid img-thumbnail" alt=""> -->





<!-- <p>user: {{user}}</p> -->

<!-- private route: ActivatedRoute,private router: Router) { }
host:string = ''
queue= NONE_TYPE
user:string = ''
roomname= NONE_TYPE
allowExplicit:boolean = true
genresAllowed = NONE_TYPE
songThreshold = NONE_TYPE
roomID:number | undefined -->