<h1>{{title}}</h1>
<a href="/auth/spotify"></a>
<nav>
    <button class="nav-item nav-link-edit" [routerLink]="['/change-name']">Change Display Name</button>
    <br>
    <br>
    <!-- <button class="nav-item nav-link-edit" *ngIf="this.isSpotifyButtonVisible" (click)="spotifyRoute()">Spotify</button>
    <button class="nav-item nav-link-edit" *ngIf="this.isNonSpotifyButtonVisible" [routerLink]="['/spotify-connect']">
        Disconnet Spotify</button> -->

    <div>
        <a href="/auth/spotify" *ngIf="this.isSpotifyButtonVisible">Connect Spotify</a>
        <br />
        <a href="/auth/spotify/disconnect" *ngIf="this.isNonSpotifyButtonVisible">Disconnect Spotify</a>
    </div>
    <br>
    <button class="nav-item nav-link-edit" *ngIf="this.roombutton" [routerLink]="['/change-room-name']">Go to Room</button>

</nav>
<router-outlet></router-outlet>